<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>ListBooksServlet</servlet-name>
		<servlet-class>com.kousenit.servlets.ListBooksServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddBookServlet</servlet-name>
		<servlet-class>com.kousenit.servlets.AddBookServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RemoveBookServlet</servlet-name>
		<servlet-class>com.kousenit.servlets.RemoveBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListBooksServlet</servlet-name>
		<url-pattern>/listbooks</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddBookServlet</servlet-name>
		<url-pattern>/addbook</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveBookServlet</servlet-name>
		<url-pattern>/removebook</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
